
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* home */
@font-face {
    font-family: RobotoR;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

/* css del home */
body.home{
    background-color: rgb(0, 0, 0);
}

.titblanco{
    color: rgb(221, 221, 221); 
}




.typed{
    color: rgb(231, 231, 231); 
}


h1, h2, h3, h4, h5, h6 {
    font-family: RobotoR, sans-serif;
}

p, a, span, li, input, button{
    font-family: RobotoR, sans-serif;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
    margin-right: 20px;
}

a:active{
    font-weight: 600;
}

a:hover{
    color: rgb(181, 181, 180);
}

.bi-github{
    color:aliceblue;
}

.bi-whatsapp{
    color:aliceblue;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .contenedor-img {
    max-width: 60%;
    margin-right: 40px;
}

.contenedor-texto .titulo {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 40px;
}

.contenedor-texto .profesion {
    font-weight: bold;
    color: #a9a9a9;
    font-style: normal;
}


 /* about */
.about{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    
}

.item1{
    display: flex;
    justify-content: center;
    /* background-color: darkcyan; */
    width: 50%;
}

.item2{
    /* background-color: darkolivegreen; */
    width: 50%;
    padding: 20px;
    
}

@media(max-width: 768px){
    .item1, .item2{
        text-align: center;
    width: 100%;
    }
}

.julio-about{
    /* imagen responsive en flexbox */
    max-width: 100%;
    width: 550px;
    border-radius: 10px;
}

h2.negro{
    color:rgb(0, 0, 0);
}

p.negro{
    color:rgb(0, 0, 0);
}
